:root {
    --simple-bg-accent: #FF6600;
}

table.simpleDG {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    table-layout: fixed;
}

table.simpleDG tr {
    border-left: none;
    border-right: none;
}

table.simpleDG td, table.simpleDG th {
    padding: 5px 2px;
}

table.simpleDG thead {
    border-bottom: 6px solid var(--simple-bg-accent);
}

table.simpleDG thead th {
    font-weight: bold;
    text-align: left;
}

table.simpleDG thead th.simpleDG_sortable {
    cursor: pointer;
}

table.simpleDG tbody tr td {
    border-bottom: solid var(--simple-bg-accent) 1px;
}

table.simpleDG tfoot {
    border-top: 5px solid var(--simple-bg-accent);
}