@page "/"
@using AnotherBlazorGrid.Sandbox.Data

@inject ProductRepo ProductRepo

<PageTitle>Another Blazor DataGrid</PageTitle>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price (GBP)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Products)
    {
        <tr>
            <td>@product.Id</td>
            <td>
                @product.Name
                <br/>
                <small>Product Code: @product.Code</small>
            </td>
            <td>@product.CostInGbp.ToString("C")</td>
        </tr>
    }
    </tbody>
</table>

@code {

    public List<Product> Products { get; set; }

    protected override void OnParametersSet()
    {
        Products = ProductRepo.GetAllProducts();
    }
}