@page "/"

@using SimpleBlazorGrid.Site.Pages.Index.Components

<div style="display: flex; flex-wrap: wrap; margin-top: 2rem">
    <DemoHeading/>
    <div class="row">
        <DemoDetails />
        <DemoBlazorGrid/>
    </div>
</div>

