@* ReSharper disable once CheckNamespace *@
@namespace SimpleBlazorGrid.Internal.Filters

@using SimpleBlazorGrid.Options.Filters

@typeparam TType

<div>
    <input type="text" @bind-value="StringEqualFilterOption.Value"/>
    <button @onclick="ApplyFilter">Apply Filter</button>
</div>

@code {
    [Parameter]
    public SimpleFilter<TType> Filter { get; set; }
    
    [Parameter]
    public StringEqualFilterOption StringEqualFilterOption { get; set; }
    
    [Parameter]
    public EventCallback<FilterOption> OnFilterChanged { get; set; }
    
    [Parameter]
    public EventCallback<FilterOption> OnFilterRemoved { get; set; }

    private async Task ApplyFilter()
    {
        if (string.IsNullOrEmpty(StringEqualFilterOption.Value))
        {
            await OnFilterRemoved.InvokeAsync(StringEqualFilterOption);
            return;
        }

        await OnFilterChanged.InvokeAsync(StringEqualFilterOption);
    }
}