@use "base";

svg.sgd-glyph {
  cursor: pointer;
  
  @include base.dark-mode {
    color: #FFF;
  }
  
  @include base.light-mode {
    color: #000;
  }
  
  :hover {
    fill: var(--secondary-colour);
  }
  
  .active {
    fill: var(--primary-colour);
  }
}