@use "base";

table.sdg-table {
  position: relative;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  table-layout: fixed;
  overflow-x: auto;
  white-space: nowrap;
  display: inline-table;

  // Scroll horizontally on smaller screens
  @include base.tablet {
    display: block;
  }

  @include base.phone {
    display: block;
  }

  tr {
    border-left: none;
    border-right: none;

    .selected {
      background-color: var(--primary-colour);
      color: #000;
    }
  }

  // Add some padding between the rows
  td, th {
    padding: 5px 2px;
  }

  // Header should be bold & aligned left
  thead th {
    font-weight: bold;
    text-align: left;
  }

  // Add thick border after header
  thead {
    border-bottom: 6px solid var(--primary-colour);
  }

  // Add thin border between each row
  tbody tr td {
    border-bottom: solid var(--primary-colour) 1px;
  }

  // Add thick border to footer 
  tfoot {
    border-top: 5px solid var(--primary-colour);
  }


  tr.sdg-selectable-selected {
    background-color: var(--secondary-colour);
    color: #000;

  }

  td.sdg-selectable input {
    border-color: var(--secondary-colour);
  }

  td.sdg-selectable input[type=checkbox]:checked {
    background-color: var(--primary-colour);
    border-color: var(--secondary-colour);
  }

  td.sdg-selectable input[type=checkbox]:hover {
    cursor: pointer;
  }

  th.sdg-selectable input {
    border-color: var(--secondary-colour);
  }

  th.sdg-selectable input[type=checkbox]:checked {
    background-color: var(--primary-colour);
    border-color: var(--secondary-colour);
  }

  th.sdg-selectable input[type=checkbox]:hover {
    cursor: pointer;
  }
}

.sdg-selectable {
  width: 50px;
}