@use "base";
@use "blazor";
@use "navbar";
@use "index";
@use "documentation";
@use "documentation_navbar";
@use "tabs";

@font-face {
  font-family: 'IBMPlexSansCondensed';
  src: url('font/IBMPlexSansCondensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url('font/IBMPlexMono-Regular.ttf') format('truetype');
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  scrollbar-width: auto;
  scrollbar-color: #ff0a54 #ffffff;
}

*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: base.$color-background;
}

*::-webkit-scrollbar-thumb {
  background-color: base.$color-primary;
  border-radius: 10px;
  border: 3px solid base.$color-background;
}

*::-webkit-scrollbar-corner {
  background: base.$color-background;
}

html {
  color-scheme: dark;
}

body {
  font-family: 'IBMPlexSansCondensed', sans-serif;
  font-size: var(--fs--1);
  min-height: 100vh;
  background-color: base.$color-background;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

input, textarea, button, select {
  font: inherit;
}

code {
  font-family: 'IBMPlexMono', sans-serif ;
}

pre {
  font-family: 'IBMPlexMono', sans-serif ;
}