@use "base";

.top {
  width: 100%;
  background: base.$color-primary;
  padding-top: 50px;
  padding-bottom: 3rem;
  
  h1 {
    font-style: oblique;
    color: base.$color-background;
    text-align: center;
    font-size: var(--fs-5);
  }
  
  p {
    text-align: center;
    color: base.$color-background;
    font-size: var(--fs-1);
  }
}

.bottom {
  width: 100%;

  ul {
    font-size: var(--fs-1);
    
    li {
      margin-top: 10px;
      list-style-type: "✔";
      padding-left: 1em;
    }
  }
  
  .container {
    display: flex;
    flex-direction: row;
    padding-top: 5rem;
    padding-bottom: 2rem;
    
    @include base.tablet {
      flex-direction: column;
    }
    
    @include base.phone {
      flex-direction: column;
    }
    
    .features {
      width: 40%;
      padding-left: 3%;
      padding-right: 3%;

      @include base.tablet {
        width: 90%;
        padding-left: 10%;

      }
      
      @include base.phone {
        width: 90%;
        padding-left: 10%;
        
      }
      
      h3 {
        font-size: var(--fs-3);
        padding-bottom: 2rem;
      }
    }
    
    .table {
      width: 55%;
      overflow-x: auto;

      @include base.tablet {
        width: 100%;
        padding-top: 5%;
      }
      
      @include base.phone {
        width: 100%;
        padding-top: 5%;
      }
    }
  }
}

.buttons {
  display: flex; 
  padding-top: 5rem; 
  flex-wrap: wrap; 
  justify-content: space-around; 
  align-items: stretch; 
  flex-direction: row; 
  row-gap: 1rem;
  
  @include base.phone {
    flex-direction: column;
  }
  
  div {
    flex-grow: 1; 
    flex: 1;
    margin-left: 1rem;
    margin-right: 1rem;
    
    button {
      border: none;
      height: 50px;
      border-radius: 5px;
      padding: 0;
      background-color: base.$color-primary;
      width: 100%;
      font-weight: bold;
      font-size: var(--fs-0);
    }
    
    button:hover {
      cursor: pointer;
      background-color: base.$color-secondary;
    }
  }
}