@use "base";

.top {
  width: 100%;
  background: rgb(255,10,84);
  background: linear-gradient(180deg, rgba(255,10,84,1) 0%, rgba(255,71,126,1) 50%, rgba(255,10,84,1) 100%);

  @include base.desktop {
    height: 30vh;
  }
  
  h1 {
    font-style: oblique;
    color: base.$color-background;
    text-shadow: 2px 3px 0px rgb(255, 255, 255);
    text-align: center;
    font-size: var(--fs-5);
  }
}

.bottom {
  width: 100%;

  @include base.desktop {
    height: 50vh;
  }
}