@use "base";

.top {
  width: 100%;
  background: base.$color-primary;
  padding-bottom: 3rem;
  
  h1 {
    font-style: oblique;
    color: base.$color-background;
    text-align: center;
    font-size: var(--fs-5);
  }
  
  p {
    text-align: center;
    color: base.$color-background;
    font-size: var(--fs-1);
  }
}

.bottom {
  width: 100%;

  ul {
    font-size: var(--fs-1);
    
    li {
      margin-top: 10px;
      list-style-type: "✔";
      padding-left: 1em;
    }
  }
  
  .container {
    display: flex;
    flex-direction: row;
    padding-top: 5rem;
    
    .features {
      width: 40%;
      padding-left: 5%;
      
      h3 {
        font-size: var(--fs-3);
        padding-bottom: 2rem;
      }
    }
    
    .table {
      width: 55%;
    }
  }
}