@using SimpleBlazorGrid.Exceptions

@* ReSharper disable once CheckNamespace *@
@namespace SimpleBlazorGrid.Internal

@typeparam TType

<div>
    <h3>Simple DataGrid Exception</h3>
    <p>@Exception.Message</p>
    <br/>
    <p>Type: @typeof(TType) </p>
    <p>Property: @Exception.Filter.PropertyName</p>
</div>

@code {
    [Parameter]
    public SimpleGridFilterException<TType> Exception { get; set; }
}