@* ReSharper disable once CheckNamespace *@
@namespace SimpleBlazorGrid.Internal

@using SimpleBlazorGrid.Interfaces
@using SimpleBlazorGrid.Helpers
@using SimpleBlazorGrid.Services

@inject IFormattingService FormattingService

@typeparam TType

<tr class="@(Selected ? "simpleDG_selected" : "")">

    @if (Selectable)
    {
        <td class="simpleDG_selectable">
            <input type="checkbox" @bind="Selected" @onclick="@(async () => await ItemSelected())"/>
        </td>
    }

    @foreach (var column in Columns)
    {
        <td>
            @if (column.SimpleColumnTemplate is not null)
            {
                @column.SimpleColumnTemplate(Data)
            }
            else
            {
                @GetRowDataForColumn(column)
            }
        </td>
    }
</tr>

@code {
    [Parameter]
    public List<IColumn<TType>> Columns { get; set; }

    [Parameter]
    public TType Data { get; set; }

    [Parameter]
    public bool Selectable { get; set; }

    [Parameter]
    public bool Selected { get; set; }
    
    [Parameter]
    public EventCallback<TType> OnSelected { get; set; }

    private string GetRowDataForColumn(IColumn<TType> column)
    {
        var property = ExpressionHelper.GetPropertyByName(Data.GetType(), Data, column.Property);
        var target = property.DynamicInvoke(Data);

        return FormattingService.FormatProperty(target, column.Format);
    }

    private async Task ItemSelected()
    {
        Selected = !Selected;
        await OnSelected.InvokeAsync(Data);
    }
}