@* ReSharper disable once CheckNamespace *@
@namespace SimpleBlazorGrid

@using SimpleBlazorGrid.Interfaces
@using SimpleBlazorGrid.Internal.Filters
@using SimpleBlazorGrid.Options.Filters

@typeparam TType

<div>
    @switch (Filter)
    {
        case SimpleTextFilter<TType> simpleTextFilter:
            <_DataGridSimpleTextFilter 
                TType="TType" 
                Filter="simpleTextFilter" 
                EqualFilterOption="@((EqualFilterOption)simpleTextFilter.FilterOption)" 
                OnFilterChanged="ApplyFilter"
                OnFilterRemoved="RemoveFilter"/>
            break;
    }
</div>

@code {

    [Parameter]
    public IFilter<TType> Filter { get; set; }

    [Parameter]
    public EventCallback<FilterOption> ApplyFilter { get; set; }
    
    [Parameter]
    public EventCallback<FilterOption> RemoveFilter { get; set; }
}