@page "/"
@using SimpleBlazorGrid.Sandbox.Data
@using SimpleBlazorGrid.Interfaces
@using SimpleBlazorGrid.Enums

@inject ProductRepo ProductRepo

<PageTitle>Another Blazor DataGrid</PageTitle>

<div style="width: 500px">
    <SimpleDataGrid TType="Product" DataSource="@(new DataGridEnumerableSource<Product>(Products))">
        <SimpleColumn TType="Product" Property="@(nameof(Product.Id))"/>
        <SimpleColumn TType="Product" Property="@(nameof(Product.Name))"/>
        <SimpleColumn TType="Product" Property="@(nameof(Product.CostInGbp))" Heading="Price (GBP)" Format="Format.Money"/>
    </SimpleDataGrid>
</div>

@code {

    private List<Product> Products { get; set; } = new();

    protected override void OnParametersSet()
    {
        Products = ProductRepo.GetAllProducts();
    }

}