:root {
  --primary-colour: #FF6600;
  --secondary-colour: #ffb27d;
}

table.sdg-table {
  position: relative;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  table-layout: fixed;
  overflow-x: auto;
  white-space: nowrap;
  display: inline-table;
}
@media (min-width: 768px) and (max-width: 1023px) {
  table.sdg-table {
    display: block;
  }
}
@media (max-width: 767px) {
  table.sdg-table {
    display: block;
  }
}
table.sdg-table tr {
  border-left: none;
  border-right: none;
}
table.sdg-table tr .selected {
  background-color: var(--primary-colour);
  color: #000;
}
table.sdg-table td, table.sdg-table th {
  padding: 5px 2px;
}
table.sdg-table thead th {
  font-weight: bold;
  text-align: left;
}
table.sdg-table thead {
  border-bottom: 6px solid var(--primary-colour);
}
table.sdg-table tbody tr td {
  border-bottom: solid var(--primary-colour) 1px;
  white-space: initial;
}
table.sdg-table tfoot {
  border-top: 5px solid var(--primary-colour);
}
table.sdg-table tr.sdg-selectable-selected {
  background-color: var(--secondary-colour);
  color: #000;
}
table.sdg-table td.sdg-selectable input {
  border-color: var(--secondary-colour);
}
table.sdg-table td.sdg-selectable input[type=checkbox]:checked {
  background-color: var(--primary-colour);
  border-color: var(--secondary-colour);
}
table.sdg-table td.sdg-selectable input[type=checkbox]:hover {
  cursor: pointer;
}
table.sdg-table th.sdg-selectable input {
  border-color: var(--secondary-colour);
}
table.sdg-table th.sdg-selectable input[type=checkbox]:checked {
  background-color: var(--primary-colour);
  border-color: var(--secondary-colour);
}
table.sdg-table th.sdg-selectable input[type=checkbox]:hover {
  cursor: pointer;
}

.sdg-selectable {
  width: 50px;
}

svg.sdg-glyph {
  cursor: pointer;
  position: absolute;
  height: 100%;
  max-height: 20px;
}
@media (prefers-color-scheme: dark) {
  svg.sdg-glyph {
    fill: #FFF;
  }
}
@media (prefers-color-scheme: light) {
  svg.sdg-glyph {
    fill: #000;
  }
}
svg.sdg-glyph :hover {
  fill: var(--secondary-colour);
}

svg.sdg-glyph-active {
  fill: var(--primary-colour);
}

div.sdg-table-title-container {
  width: 100%;
  padding: 1rem;
}
div.sdg-table-title-container h1 {
  margin: 0;
}
div.sdg-table-title-container p {
  margin: 0;
}

.sdg-heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.sdg-heading-container div.sdg-heading-filter {
  min-width: 20px;
  position: relative;
  aspect-ratio: 1;
  cursor: pointer;
}
.sdg-heading-container div.sdg-heading-text {
  flex-grow: 4;
  padding-left: 5px;
}
.sdg-heading-container div.sdg-heading-text :hover {
  cursor: pointer;
}

.sdg-no-data {
  width: 100%;
  text-align: center;
}

.sdg-loading {
  width: 100%;
  text-align: center;
}

.sdg-table-paging-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.sdg-table-paging-controls {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.sdg-table-paging-button {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: var(--secondary-colour);
  padding: 0;
  margin-right: 0.5rem;
  color: #000;
  border: solid 2px var(--secondary-colour);
  cursor: pointer;
}

.sdg-table-paging-button:hover {
  border: solid 2px var(--primary-colour);
}

.sdg-table-paging-button-selected {
  background-color: var(--primary-colour);
  border: solid 2px var(--primary-colour);
  color: #FFF;
}

.sdg-filter {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(5, 5, 5, 0.8);
  width: 100%;
  height: 100%;
  z-index: 100;
  border-radius: 5px;
  color: #FFF;
  display: inherit;
}
@media (max-width: 767px) {
  .sdg-filter {
    position: fixed;
  }
}

.sdg-filter-container {
  width: 50%;
  left: 25%;
  top: 25%;
  position: relative;
}
@media (max-width: 767px) {
  .sdg-filter-container {
    width: 90%;
    left: 5%;
  }
}
.sdg-filter-container h2 {
  width: 100%;
  margin-bottom: 1rem;
}

div.sdg-filter-inputs {
  width: 100%;
  display: flex;
}
div.sdg-filter-inputs input, div.sdg-filter-inputs select {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: none;
  margin: 1%;
}
div.sdg-filter-inputs select {
  height: 50px;
}
div.sdg-filter-inputs select option {
  padding: 0.5em;
}
div.sdg-filter-inputs select option:checked {
  background-color: var(--secondary-colour);
}

div.sdg-filter-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}
@media (max-width: 767px) {
  div.sdg-filter-buttons {
    flex-wrap: wrap-reverse;
  }
}
div.sdg-filter-buttons div.clear {
  width: 50%;
}
@media (max-width: 767px) {
  div.sdg-filter-buttons div.clear {
    width: 100%;
  }
}
div.sdg-filter-buttons div.clear button {
  width: 96%;
  margin: 2%;
  height: 35px;
  border-radius: 5px;
  background-color: var(--primary-colour);
  color: #FFF;
  border: solid 2px var(--primary-colour);
}
div.sdg-filter-buttons div.clear button:hover {
  cursor: pointer;
}
div.sdg-filter-buttons div.apply {
  width: 50%;
}
@media (max-width: 767px) {
  div.sdg-filter-buttons div.apply {
    width: 100%;
  }
}
div.sdg-filter-buttons div.apply button {
  width: 96%;
  margin: 2%;
  height: 35px;
  border-radius: 5px;
  background-color: var(--primary-colour);
  color: #FFF;
  border: solid 2px var(--primary-colour);
}
div.sdg-filter-buttons div.apply button:hover {
  cursor: pointer;
}

/*# sourceMappingURL=simpledatagrid.css.map */
