@using SimpleBlazorGrid.Exceptions

@* ReSharper disable once CheckNamespace *@
@namespace SimpleBlazorGrid.Internal

@typeparam TType

<div @attributes="@Attributes">
    <DataGridErrorBoundary @ref="Boundary">
        <ErrorContent>
            @switch (Boundary.Exception)
            {
                case SimpleGridFilterException<TType> exception:
                    <_DataGridFilterExceptionError TType="TType" Exception="exception"/>
                    break;
                default:
                    @Boundary.Exception.Message
                    break;
            }

            <button @onclick="Recover">Recover</button>
        </ErrorContent>
        <ChildContent>
            @ChildContent
        </ChildContent>
    </DataGridErrorBoundary>
</div>

@code {

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Attributes { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private DataGridErrorBoundary Boundary { get; set; }

    private void Recover()
    {
        Boundary.Recover();
    }
}