@* ReSharper disable once CheckNamespace *@
@namespace AnotherBlazorGrid

@using AnotherBlazorGrid.Interfaces
@using AnotherBlazorGrid.Extensions
@using AnotherBlazorGrid.Helpers

@typeparam TType

<tr>
    @foreach (var column in Columns)
    {
        <td>
            @if (column.ABColumnFormat is not null)
            {
                @column.ABColumnFormat(Data)
            }
            else
            {
                @GetRowDataForColumn(column)
            }
        </td>
    }
</tr>

@code {
    [Parameter]
    public List<IColumn<TType>> Columns { get; set; }

    [Parameter]
    public TType Data { get; set; }

    private string GetRowDataForColumn(IColumn<TType> column)
    {
        var property = ExpressionHelper.GetPropertyByName(Data.GetType(), Data, column.Property);
        var target = property.DynamicInvoke(Data);

        return target.ToString();

        // var item = Object.GetPropertyValue(Object.GetType(), column.Property);
        // return item == null ? "null" : item.ToString();
    }
}