.demo-title {
    position: relative;
    margin: 0;
    font-size: 6ch;
    left: 5%;
    width: 95%;
    font-style: oblique;
    /*text-shadow: 4px 6px 0px rgb(255 10 84);*/
    text-shadow: 4px 6px 0px rgba(255, 10, 84, 1), 8px 12px 0px rgba(250, 112, 175, 1);
}

.demo-title-container {
    width: 100%;
    padding-bottom: 2rem;
    text-align: left;
}

@media (min-width: 400px) {
    .demo-title {
        font-size: 10ch;
    }
}