<div class="demo-details">
    <h2>A simple and <span style="font-style: oblique">free</span> Blazor data grid to meet your needs.</h2>
    <div style="text-align: left">
        <div style="display: flex; padding-top: 5rem; flex-wrap: wrap; justify-content: space-around; align-items: stretch; flex-direction: row">
            <div style="flex-grow: 1; margin-left: 1rem; margin-right: 1rem; margin-top: 1rem">
                <h3>Features</h3>
                <ul>
                    <li>Searching & Filtering</li>
                    <li>Pagination & Sorting</li>
                    <li>Row Selection</li>
                    <li>Custom Styling</li>
                </ul>
            </div>
            <div style="flex-grow: 1; margin-left: 1rem; margin-right: 1rem; margin-top: 1rem">
                <h3>Supports</h3>
                <ul>
                    <li>.NET 5 / 6 / 7+</li>
                    <li>Blazor Server & WASM</li>
                    <li>Entity Framework Integration</li>
                </ul>
            </div>
        </div>
    </div>
    <div style="display: flex; padding-top: 5rem; flex-wrap: wrap; justify-content: space-around; align-items: stretch; flex-direction: row">
        <div style="flex-grow: 1; margin-left: 1rem; margin-right: 1rem">
            <button class="demo-button-nuget">Download from Nuget</button>
        </div>
        <div style="flex-grow: 1; margin-left: 1rem; margin-right: 1rem">
            <button class="demo-button-docs">Documentation</button>
        </div>
    </div>
</div>

@code {

}